<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>

		<!-- 其他配置 -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- 自动生成表 -->
		<property name="hbm2ddl.auto">update</property>

		<!-- 导入映射文件 <mapping resource="cn/wheel/tiyuguanmanager/somebodyTest/User.hbm.xml" 
			/> -->
		<!-- 赛事 -->
		<mapping resource="cn/wheel/tiyuguanmanager/competition/po/Competition.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/competition/po/CompetitionUser.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/competition/po/CompetitionType.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/competition/po/CompetitionCost.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/competition/po/CompetitionMessage.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/competition/po/CompetitionNews.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/competition/po/CompetitionNewsComment.hbm.xml" />

		<!-- 用户 -->
		<mapping resource="cn/wheel/tiyuguanmanager/user/po/Contract.hbm.xml" />
		<mapping resource="cn/wheel/tiyuguanmanager/user/po/Permission.hbm.xml" />
		<mapping resource="cn/wheel/tiyuguanmanager/user/po/Role.hbm.xml" />
		<mapping resource="cn/wheel/tiyuguanmanager/user/po/User.hbm.xml" />

		<!-- 公告 -->
		<mapping
			resource="cn/wheel/tiyuguanmanager/announcement/po/Announcement.hbm.xml" />
		<mapping
			resource="cn/wheel/tiyuguanmanager/announcement/po/AnnouncementComment.hbm.xml" />

	</session-factory>
</hibernate-configuration>