@CHARSET "UTF-8";

div.pagination-row {
	text-align: center;
}

label.form-label,div.form-radio,div.error-msg {
	line-height: 34px;
	vertical-align: middle;
}

span.error-msg {
	color: #ff0000;
}

span.error-msg-control,
table.table-with-button td span {
	line-height: 34px;
	vertical-align: middle;
}

@media ( min-width : 992px) {
	div.form-label {
		text-align: right;
	}
}