@CHARSET "UTF-8";

div.pagination-row {
	text-align: center;
}

label.form-label,div.form-radio,div.error-msg {
	line-height: 34px;
	vertical-align: middle;
}

span.error-msg {
	color: #ff0000;
}

span.error-msg-control,table.table-with-button td span {
	line-height: 34px;
	vertical-align: middle;
}

td.td-with-button {
	text-align: center;
}

p.announcement-comment-info {
	text-align: right;
	color: #cccccc;
	font-size: 12px;
}

p.comment-info-p {
	font-size: 12px;
}

span.comment-content-label {
	font-weight: bold;
}

span.comment-status-deleted,span.comment-status-hidden {
	color: #ff0000;
}

div.public-announcement-list-title p {
	font-size: 16px;
	font-weight: bold;
}

div.public-annoucement-list-time {
	color: #cccccc;
	font-size: 12px;
}

h4.nav-title {
	text-align: center;
	font-size: 16px;
	font-family: 黑体;
}

@media ( min-width : 992px) {
	div.form-label {
		text-align: right;
	}
}